.popup__input {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    border: none;
    max-width: 358px;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 0 0 12px;
    margin-top: 28px;
    margin-left: 36px;
}

@media screen and (max-width: 630px) {
    .popup__input {
        max-width: 238px;
        margin-left: 22px;
    }
}