.popup__container {
    display: flex;
    flex-direction: column;
    max-width: 510px;
    width: 100%;
}

@media screen and (max-width: 630px) {
    .popup__container {
        width: 282px;
        margin-left: 19px;
        margin-right: 19px;
        margin-top: 16px;
    }
}