.profile {
    display: flex;
    max-width: 880px;
    margin: 40px auto 0 auto;
    border: 1px red solid;
}

@media screen and (max-width: 630px) {
    .profile {
        flex-direction: column;
        width: 282px;
        align-items: center;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 630px) and (max-width: 900px) {
    .profile {
        margin-left: 19px;
        margin-right: 19px;
    }
}