.profile__add-button-rectangle {
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 35px;
    background-color: #000;
    
}

.profile__add-button-rectangle:hover {
    cursor: pointer;
    opacity: 0.6;
    transform: 0.3s;
}

@media screen and (max-width: 710px) {
    .profile__add-button-rectangle {
        width: 282px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
