.elements {
    max-width: 880px;
    min-width: 282px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: auto;
    gap: 17px;
    margin: 54px auto 0;
}

@media screen and (max-width: 900px) {
    .elements {
        margin: 20px 19px;
    }
}