.profile__content {
    display: flex;
    max-width: 800px;
    width: 100%;
    justify-content: space-between;
    border: 1px red solid;
}

@media screen and (max-width: 630px) {
    .profile__content {
        flex-direction: column;
    }
}