.popup__close {
  background: none;
  border: none;
  padding: 0;
  top: -40px;
  right: -40px;
  width: 32px;
  position: absolute;
}

@media screen and (max-width: 630px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -35px;
    right: 0;
  }
}