.popup__profile {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  width: 100%;
  outline: none;
}

@media screen and (max-width: 630px) {
  .popup__profile {
    padding: 0;
    margin: 0;
    max-width: 282px;
  }
}
