.profile__edit-button-rectangle {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin-top: 15px;
    margin-left: 10px;
}

@media screen and (max-width: 630px) {
    .profile__edit-button-rectangle {
        margin-top: 10px;
        width: 18px;
        height: 18px;
        margin-left: 0;
    }
}